@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes blinkAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes borderAnimation{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}

@keyframes borderAnimation2{
  from{
    rotate: 360deg;
  }
  to{
    rotate: 0deg;
  }
}

.blink {
  animation: blinkAnim 1.5s infinite linear;
}

.animate-box{
  animation: borderAnimation 5s linear infinite;
  width: 150%;
}

.animate-border2{
  animation: borderAnimation2 2s ease-in-out infinite;
}

.animate-border{
  animation: borderAnimation 2s ease-in-out infinite;
}

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  top: calc(var(--index) * 4rem);
}

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #ff99ff 0%,
    #66a3ff 25%,
    #8533ff 50%,
    #66a3ff 75%,
    #ff99ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}